<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
</head>

<body>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="username">
                <input type="password" name="password1">
                <input type="password" name="password2">
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>

</html>