{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/app.css' %}"> -->
    <title>Expenses</title>
</head>

<body>

    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="vendor">
                <input type="text" name="total">
                <input type="text" name="tax">
                <input type="text" name="date">
                <input type="text" name="category">
                <input type="text" name="account">
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>